@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Open Sans', sans-serif;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

/* HEADER */
.header {
    padding: 30px 0 50px 0;
    text-align: center;
    background: white;
}

.header h1 {
    font-size: 50px;
}

.header h1 .manager {
    color: var(--orange);
}

.area-id {
    background-color: var(--accent) !important;
    user-select: none;
    color: white !important;
    font-weight: bold;
}

.data-line {
    margin: 10px auto 10px auto !important;
}


.data-labels {
    display: flex;
    justify-content: flex-end;
    margin: 4px auto 4px auto;
}

@media screen and (max-width: 768px) {
    .data-labels {
        justify-content: flex-start;
    }
}

.data-label {
    border-radius: 2px 0 0 2px;
    margin-right: -1px;
}

.data-input {
    margin: 4px auto 4px auto;
}

.input {
    border-radius: 0;
}

.result{
    cursor: default;
    color: #7a7a7a;
    background-color: rgba(245, 245, 245, 0.68);
}

.result:hover {
    border-color: #dbdbdb;
}

.result:focus {
    border-color: #dbdbdb;
}

